# Semana 07
Maldonado Vanegas Yhamir

Temas: 
    1.Numeros
    2.Variables
    3.Manejo de cadenas
    4.Ingreso de datos por el teclado
    5.Operadores

5. Operadores

In [5]:
#Operadores Aritmeticos
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
modulo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(modulo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [6]:
#La operacion anterior tambien se puede expresar de la siguiente manera
numero = 5
numero +=3
print(numero)

8

In [7]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia 
#veamos el otro ejemplo
numero = 5
numero **=3
print(numero)

125

In [9]:
#Operadores de comparaci√≥n
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [10]:
nombre1 = "Yhamir"
nombre2 = "Yhamir"
nombre1 == nombre2

True

In [16]:
#Operadores Logicos
#Se tiene: and, or, not
numero1 = 3
numero2 = 5
numero3 = 4
numero4 = 7

In [17]:
not (numero1 < numero2)

False

In [25]:
#Operadores de pertencia 
#Miremos un Ejempl
aula = ["Yhamir","Alfredo","Diego"]
alumno1 = "Roberto"
alumno2 = "Yhamir"

In [26]:
#Roberto esta en el aula?
alumno1 in aula

False

In [27]:
#Yhamir esta en el aula?
alumno2 in aula

True

In [28]:
#Diego no esta en el aula 
alumno1 not in aula

True

In [29]:
#Operadores de identidad
#Se tiene is, is not
aula1 = ["Yhamir","Alfredo","Diego"]
aula2 = ["Yhamir","Alfredo","Diego"]
#a continuacion vamso a indicar que aula3 va a 
# compartir el mismo objeto que aula 1
aula3 = aula1

In [30]:
#aula3 comparte el mismo objeto que aula1
aula3 is aula1

True

In [31]:
#aula3 comparte el mismo objeto que aula2
aula3 is aula2

False

In [32]:
#aula2 comparte el mismo objeto que aula1
aula2 is aula1

False

In [33]:
aula1.append("Ruben")

In [35]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Yhamir', 'Alfredo', 'Diego', 'Ruben']